/* Reset básico */
body, h1, h2, p, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #bebebe;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    background: #e4e4e4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

/* Títulos */
h1, h2 {
    margin-bottom: 20px;
}

/* Estilo dos inputs e selects */
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo dos botões */
button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Espaço entre os botões */
}

button:hover {
    background-color: #525252;
}

/* Estilo do resultado */
#resultado, #resultadoCalc {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    font-weight: bold;
}

/* Estilo da calculadora (oculta inicialmente) */
.calculadora {
    margin-top: 20px;
    display: none; /* Controlado pelo JavaScript */
}

/* Estilo dos rótulos */
label {
    display: block;
    margin: 10px 0 5px;
}
